@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

html,
body,
#app {
    padding: 0;
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    user-select: none;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: aliceblue;
    background-color: #222;
    touch-action: none;
}

#app {
    display: flex;
}

#mobile-select {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    top: -50px;
    transition: top 0.25s linear;
}

#mobile-select > select {
    text-align: center;
    background-color: #222;
    color: #eee;
    appearance: none;
    outline: none;
    padding: 8px;
    border: solid 1px rgba(238, 238, 238, 0.5);
}

#mobile-select > select > option {
    background-color: #222;
    color: #eee;
}

#mobile-select > select > option:focus {
    background-color: #222;
    color: cornflowerblue;
}

h1 {
    text-align: center;
}

#left-column {
    width: 25%;
    min-width: 225px;
    max-width: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all 0.25s linear;
}

#model-list {
    max-height: calc(100% - 120px);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 15px;
    transition: all 0.25s linear;
}

#model-list > div {
    padding: 5px;
    cursor: pointer;
}

#model-list div[data-selected="true"] {
    font-weight: bold;
    background-color: rgb(45, 50, 58);
}

#model-list div:hover {
    color: cornflowerblue;
}

#model-select {
    opacity: 1;
    transition: opacity 0.25s linear;
}

#center-column {
    width: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: width 0.25s linear;
}

#center-column canvas {
    align-self: center;
    min-width: 50%;
    min-height: 50%;
    width: calc(100vh - 210px);
    height: calc(100vh - 210px);
    object-fit: contain;
    margin: auto;
}

#controls {
    align-self: center;
    text-align: center;
    background-color: rgba(34, 34, 34, 0.5);
    padding-bottom: 20px;
}

#control-buttons {
    display: flex;
    justify-content: center;
    margin: 0px 20px;
}

#control-buttons > button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#control-buttons > button:not(:first-child) {
    margin-left: 20px;
}

#speed {
    width: 60%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: bottom 0.25s linear;
}

#speed-label {
    width: 100%;
}

#speed-bar {
    width: 100%;
    max-width: 400px;
    height: 15px;
    -webkit-appearance: none;
    background: #111;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

#speed-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #414141;
    cursor: pointer;
    border: 4px solid #aaa;
    box-shadow: -407px 0 0 400px #3f3f3f;
    transition: border 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

#speed-bar::-webkit-slider-thumb:hover {
    border: 4px solid #fff;
    box-shadow: -407px 0 0 400px #828282;
}

#right-column {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    transition: width 0.25s ease-in-out;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    max-width: 32px;
    max-height: 32px;
    width: 2vw;
    height: 2vw;
    padding: 2px;
    margin: 2px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

#palette-container {
    padding: 25px;
}

#state-viz {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 25px;
}

.node-state {
    display: flex;
}

.node-state[data-level-index="0"] {
    margin-top: 10px;
}

.rule-list {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.rule {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.rule table {
    border-spacing: 0px;
    border-collapse: collapse;
    flex-shrink: 0;
}

.rule:last-child {
    margin-bottom: 10px;
}

.rule td[data-transparent="true"] {
    background-color: transparent !important;
    border-style: dashed;
    border-color: rgba(238, 238, 238, 0.5);
}

.rule[data-size="small"] td {
    width: 0.5vw;
    height: 0.5vw;
}

.rule td {
    width: 1vw;
    height: 1vw;
    aspect-ratio: 1 / 1;
    border: solid #eee 1px;
    margin: 0px;
    padding: 0px;
}

.rule > label {
    margin-left: 5px;
    margin-right: 5px;
}

@media only screen and (max-width: 750px) {
    button {
        padding: 5px 5px;
        max-width: 35vw;
        min-width: 50px;
    }

    #left-column {
        width: 0;
        min-width: 0;
    }

    #center-column {
        width: 100%;
    }

    #vox-download,
    #debug {
        display: none;
    }

    #center-column canvas {
        min-width: 100px;
        min-height: 100px;
        max-width: 90%;
        max-height: 90%;
        object-fit: cover;
    }

    #model-select {
        opacity: 0;
    }

    #mobile-select {
        top: 25px;
    }

    #speed {
        bottom: clamp(15px, calc(25vh - 25vw - 25px), 25px);
    }

    #state-viz {
        padding: 5px;
    }

    .rule td {
        border: none !important;
    }
}

@media only screen and (max-width: 400px) {
    #right-column {
        width: 0%;
    }
}

#title {
    overflow-y: hidden;
    transition: all 0.25s linear;
}

@media only screen and (max-height: 500px) {
    #title {
        max-height: 0px;
        margin: 0px;
    }

    #speed {
        bottom: 20px;
    }

    #model-list {
        max-height: 95vh;
    }
}

button {
    padding: 5px 10px;
    background-color: transparent;
    outline: none;
    border: solid 1px rgba(238, 238, 238, 0.5);
    color: #eee;
    cursor: pointer;
    transition: border 0.25s linear, color 0.25s linear;
}

button:disabled {
    color: gray;
    border: solid 1px gray;
}

button:disabled:hover {
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    color: #fff;
    border: solid 1px #fff;
    filter: drop-shadow(0 0 5px #eee) contrast(2) brightness(2);
}

button.danger {
    color: crimson;
    border: solid 1px rgba(220, 20, 60, 0.5);
}

button.danger:hover {
    color: red;
    border: solid 1px red;
    filter: drop-shadow(0 0 5px red) contrast(2) brightness(2);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: #2b2b2b;
    border-radius: 20px;
    margin: 5px;
}
